{% extends 'base.html.twig' %}

{% block title %}Catégorie :{{ category.name}}{% endblock %}

{% block body %}
<h2>{{ category.name }}</h2>
<p>{{ category.description }}</p>
<img src="{{ category.picture }}" alt="Image du produit">
{% endblock %}