{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}

{% block body %}

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate placeat ducimus debitis voluptatem nam commodi
    excepturi voluptatibus, possimus qui eaque inventore corporis provident quos eum amet natus. Distinctio dolores
    natus fugiat temporibus commodi consectetur qui corrupti officia tempora? Eaque quas repellat numquam minima
    consectetur veritatis itaque dolorem modi, mollitia ratione!</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate placeat ducimus debitis voluptatem nam commodi
    excepturi voluptatibus, possimus qui eaque inventore corporis provident quos eum amet natus. Distinctio dolores
    natus fugiat temporibus commodi consectetur qui corrupti officia tempora? Eaque quas repellat numquam minima
    consectetur veritatis itaque dolorem modi, mollitia ratione!</p>

{% endblock %}